a:link {
	color: red;
}
a:visited {
	color: orange;
}
a:focus {
	color: purple;
}
a:hover {
	color:green;
}
a:active {
	color: blue;
}
.ul-li {
	margin: 0.5em 1em;
	padding: 0.5em 0.5em;
}
.ulstyle {
	list-style-type: none;
}
.decoration {
	text-decoration: none;
}
.body-style {
	font-size: 100%;
	background:url("../resource/night.png") repeat fixed;
}
.color {
	color: rgb(134,145,128);
}
.main-display {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}
@media only screen and (orientation:landscape) {
	ul {
		display: flex;
		align-content: space-between;
	}
	.ul-li {
		display: inline-block;
	}
	.main-display {
		flex-direction: row;
		max-width: 80%;
		min-width: 30%;
	}
}